/* YANEL */
.btn-pink{
    background-color: pink;
    border: pink;
}
/* MATI */
.text-verde{
    color: greenyellow;
}
/* ISMA */
.contenedor{
    display: flex;

}

.contenido{
    padding: 1rem;
}
.contenido__personajes{
    padding: 1rem;
    display: flex;
    align-items: baseline;
    text-align: center;
}

.contenido__imagen{
    width: 80%;
 
}

.contenido__imagen img{
    width: 90%;   
    /* margin: 1rem; */
    border: azure 10px;
    /* box-shadow: 5px 5px rgba(107, 107, 107, 0.514); */
    border-radius: 10px;
}