/* YANEL */
.btn-pink{
    background-color: pink;
    border: pink;
}
/* MATI */
.text-verde{
    color: greenyellow;
}
/* ISMA */
.contenedor{
    display: flex;

}

.contenido{
    padding: 1rem;
}
.contenido__personajes{
    padding: 1rem;
    display: flex;
    align-items: baseline;
    text-align: center;
}

.contenido__imagen{
    width: 80%;
 
}

.contenido__imagen img{
    width: 90%;   
    /* margin: 1rem; */
    border: azure 10px;
    /* box-shadow: 5px 5px rgba(107, 107, 107, 0.514); */
    border-radius: 10px;
}

.contenido__imagen img:hover{
    transform: scale(105%,105%);
}
.iconAuthContainer img{
    width:22px;
    filter: invert(100%);
}   
.inicio_sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding: 20vh 10% ;
}
/* .btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
  } */